name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install swift-format
        run: brew install swift-format

      - name: Lint
        run: swift-format lint --configuration .swift-format --recursive Sources Tests

      - name: Build
        run: swift build

      - name: Test
        run: swift test
